body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #d9d9d9;
    padding: 10px 20px;
    border-bottom: 2px solid #000;
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    z-index: 1000;
    box-sizing: border-box;
}

.tec-logo {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%; /* Aprovecha todo el espacio */
    gap: 10px;
}

    .search-bar input {
        padding: 8px;
        border-radius: 20px;
        border: 1px solid #ccc;
        flex-grow: 1; /* Hace que la barra de búsqueda se ajuste a todo el espacio disponible */
    }

.icon, .profile-pic {
    width: 40px;
    height: auto;
}

.sidebar {
    width: 220px;
    background-color: #0a4275;
    color: white;
    padding: 20px;
    position: fixed;
    top: 60px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .sidebar .option, .sidebar .exit-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
    }

        .sidebar .option a img, .sidebar .exit-option a img {
            width: 80px;
            max-width: 100%;
            height: auto;
            margin-bottom: 5px;
        }

        .sidebar .option span, .sidebar .exit-option span {
            font-size: 18px;
            text-align: center;
        }

/* Main Content */
.main-content {
    margin-left: 200px; /* Deja espacio para el sidebar */
    margin-top: 80px; /* Deja espacio para el header */
    padding: 20px;
    max-width: calc(100% - 200px); /* Ajusta el ancho para que no quede bajo el sidebar */
    overflow-y: auto;
    box-sizing: border-box;
}

/* Gráficos */
.graficos-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.grafico-wrapper {
    max-width: 100%;
    margin-bottom: 30px;
}

canvas {
    width: 100% !important;
    height: auto !important;
}
