body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between; /* Asegura que el logo y el ícono del perfil estén en lados opuestos */
    align-items: center;
    background-color: #d9d9d9;
    padding: 10px 20px;
    border-bottom: 2px solid #000;
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    z-index: 1000;
    box-sizing: border-box;
}

.tec-logo {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

.profile-pic {
    width: 40px;
    height: auto;
    margin-left: auto;
    margin-right: 0; /* Asegúrate de que no haya margen derecho que desplace el ícono */
}

.sidebar {
    width: 200px;
    background-color: #0a4275;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
    top: 60px; /* Asegúrate de que comience justo debajo del header */
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

    .sidebar .option, .sidebar .exit-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
    }

        .sidebar .option a img, .sidebar .exit-option a img {
            width: 80px;
            max-width: 100%;
            height: auto;
            margin-bottom: 5px;
        }

        .sidebar .option span, .sidebar .exit-option span {
            font-size: 18px;
            text-align: center;
        }

/* Main content */
.main-content {
    margin-left: 220px; /* Deja espacio para el sidebar */
    margin-top: 60px; /* Deja espacio para el header */
    padding: 20px;
    width: calc(100% - 220px); /* El contenido toma el espacio restante */
    overflow-y: auto; /* Habilita el scroll si es necesario */
}

.form-field {
    margin-bottom: 20px;
}

    .form-field label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
    }

    .form-field input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

.btn-guardar {
    background-color: #0a4275;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

    .btn-guardar:hover {
        background-color: #08385f;
    }
