body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #d9d9d9;
    padding: 10px 20px;
    border-bottom: 2px solid #000;
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    z-index: 1000;
    box-sizing: border-box;
}

.tec-logo {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

    .search-bar input {
        padding: 8px;
        border-radius: 20px;
        border: 1px solid #ccc;
        flex-grow: 1;
    }

.icon, .profile-pic {
    width: 40px;
    height: auto;
}

.sidebar {
    width: 220px;
    background-color: #0a4275;
    color: white;
    padding: 20px;
    position: fixed;
    top: 60px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .sidebar .option, .sidebar .exit-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
    }

        .sidebar .option a img, .sidebar .exit-option a img {
            width: 80px;
            max-width: 100%;
            height: auto;
            margin-bottom: 5px;
        }

        .sidebar .option span, .sidebar .exit-option span {
            font-size: 18px;
            text-align: center;
        }

.main-content {
    margin-left: 240px;
    padding: 20px;
    margin-top: 80px;
    width: calc(100% - 240px);
    box-sizing: border-box;
}

.usuarios-container {
    height: 400px;
    overflow-y: auto;
}

.usuarios-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .usuarios-table th, .usuarios-table td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 768px) {
    .sidebar img {
        max-width: 40px;
    }
}
